[ {riak_ensemble,
    [{peer_workers, 10}
    ]},
  {yokozuna,
     [{root_dir,"./data/yz"},
      {anti_entropy_data_dir,"./data/yz_anti_entropy"},
      {solr_jvm_opts,
          "-d64 -Xms1g -Xmx1g -XX:+UseStringCache -XX:+UseCompressedOops"},
      {solr_jmx_port,10013},
      {solr_port,10014},
      {solr_startup_wait,30},
      {enabled,false}]},
 {eleveldb,
     [{compression,true},
      {fadvise_willneed,false},
      {eleveldb_threads,71},
      {verify_compaction,true},
      {verify_checksums,true},
      {block_size_steps,16},
      {block_restart_interval,16},
      {sst_block_size,4096},
      {block_cache_threshold,33554432},
      {use_bloomfilter,true},
      {write_buffer_size_max,62914560},
      {write_buffer_size_min,31457280},
      {limited_developer_mem,true},
      {sync,false},
      {total_leveldb_mem_percent,70},
      {data_root,"./data/leveldb"},
      {delete_threshold,1000},
      {tiered_slow_level,0}]},
 {riak_control,[{enabled,false},{auth,none}]},
 {bitcask,
     [{io_mode,erlang},
      {expiry_grace_time,0},
      {small_file_threshold,10485760},
      {dead_bytes_threshold,134217728},
      {frag_threshold,40},
      {dead_bytes_merge_trigger,536870912},
      {frag_merge_trigger,60},
      {max_file_size,2147483648},
      {open_timeout,4},
      {data_root,"/Users/sdhillon/repos/rr/data/bitcask"},
      {sync_strategy,none},
      {merge_window,always},
      {max_fold_age,-1},
      {max_fold_puts,0},
      {expiry_secs,-1},
      {require_hint_crc,true}]},
 {riak_sysmon,
     [{busy_dist_port,true},
      {busy_port,true},
      {port_limit,2},
      {process_limit,30},
      {gc_ms_limit,0},
      {schedule_ms_limit,0},
      {heap_word_limit,20055500}]},
 {riak_kv,
     [{bitcask_max_merge_size,107374182400},
      {bitcask_merge_check_jitter,0.3},
      {bitcask_merge_check_interval,180000},
      {aae_use_background_manager,false},
      {handoff_rejected_max,6},
      {handoff_use_background_manager,false},
      {max_siblings,100},
      {warn_siblings,25},
      {max_object_size,52428800},
      {warn_object_size,5242880},
      {secure_referer_check,true},
      {retry_put_coordinator_failure,true},
      {hook_js_vm_count,2},
      {reduce_js_vm_count,6},
      {map_js_vm_count,8},
      {anti_entropy_leveldb_opts,
          [{use_bloomfilter,true},
           {max_open_files,20},
           {write_buffer_size,4194304}]},
      {aae_throttle_kill_switch,false},
      {data_root,"/Users/sdhillon/repos/rr/data/bitcask"},
      {anti_entropy_data_dir,"./data/anti_entropy"},
      {anti_entropy_tick,15000},
      {anti_entropy_concurrency,2},
      {anti_entropy_expire,604800000},
      {anti_entropy,{passive,[]}},
      {storage_backend,riak_kv_bitcask_backend},
      {anti_entropy_build_limit,{1,3600000}},
      {js_max_vm_mem,8},
      {js_thread_stack,16},
      {fsm_limit,50000},
      {object_format,v1},
      {vnode_md_cache_size,0}]},
 {riak_dt,[{binary_compression,1}]},
 {riak_core,
     [{default_bucket_props,
          [{last_write_wins,false},
           {allow_mult,false},
           {basic_quorum,false},
           {notfound_ok,true},
           {rw,quorum},
           {dw,quorum},
           {pw,0},
           {w,quorum},
           {r,quorum},
           {pr,0},
           {dvv_enabled,false},
           {n_val,3}]},
      {vnode_management_timer,10000},
      {use_background_manager,false},
      {enable_consensus,true},
      {platform_log_dir,"./log"},
      {platform_lib_dir,"./lib"},
      {platform_etc_dir,"./etc"},
      {platform_data_dir,"./data"},
      {platform_bin_dir,"./bin"},
      {dtrace_support,false},
      {handoff_port,20019},
      {ring_state_dir,"./data/ring"},
      {handoff_concurrency,2},
      {ring_creation_size,64},
      {schema_dirs, ["/Users/sdhillon/repos/rr/deps/riak_core/priv"]}
     ]},
 {riak_api,
     [{disable_pb_nagle,true},
      {pb_backlog,128},
      {honor_cipher_order,false},
      {tls_protocols,['tlsv1.2']},
      {check_crl,false}]},
 {lager,
     [{error_logger_hwm,100},
      {error_logger_redirect,true},
      {crash_log_date,"$D0"},
      {crash_log_size,10485760},
      {crash_log_msg_size,65536},
      {handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{file,"./log/console.log"},
                {level,info},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_file_backend,
               [{file,"./log/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {count,5}]}]},
      {crash_log,"./log/crash.log"},
      {crash_log_count,5}]},
 {sasl,[{sasl_error_logger,false}]}].
