{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps,
    [
        {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "2.0"}}},
        {yokozuna, ".*", {git, "git://github.com/basho/yokozuna.git", {branch, "2.0"}}},
        {eredis, ".*", {git, "git://github.com/wooga/eredis.git", {branch, "master"}}},
        {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {riak_ensemble, ".*", {git, "git://github.com/sargun/riak_ensemble.git", {branch, "sargun/redis"}}}
    ]
}.